<div class="container">
@if (!loading) {
    

    <hr>
      <h1 class="text-center">List Product</h1>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
              <th scope="col">Acciones</th>
          
            </tr>
          </thead>
          <tbody>
      
            @for (item of productList; track $index) {
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.description }}</td>
                    <td><img src="{{item.image}}" alt="{{item.title}}" width="200" height="150"></td>
                    <td><button type="button" class="btn btn-outline-success" (click)="navegate(item.id)" >View Details</button></td>
                </tr>
            }
  
          </tbody>
        </table>

}

@if (loading) {
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
</div>




