<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="" [ngClass]="{active: menuOption=='home'}" (click)="onOption('home')">Home</a>
        <a class="nav-link" routerLink="/product" [ngClass]="{active: menuOption=='product'}" (click)="onOption('product')" >Product</a>
        <a class="nav-link" routerLink="/contact" [ngClass]="{active: menuOption=='contact'}" (click)="onOption('contact')">Contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet />
